{% extends "template.html" %} {% block content %}
<h2>About Me</h2>
<p>
  Hello! I'm Benjamin Ahlbrecht, a data science practitioner with a background in machine-learning and biology. I hold a M.S. in Data Science at the University of Colorado Boulder. I also hold a B.S. in Biology from the University of Mary. I am particularly passionate about the intersection between machine-learning, healthcare, biology, and biochemistry. If you would like to connect, have any questions, comments, or concerns, please feel free to <a href="/contact">contact me</a>
</p>

<h2>Code</h2>
<p>
  Recently, I switched from GitHub to GitLab. Newer projects can be found on my GitLab but older projects still exist on GitHub:
</p>
<ul>
  <li>
    GitLab:
    <a target="_blank" href="https://gitlab.com/benjamin-ahlbrecht/"
      >https://gitlab.com/benjamin-ahlbrecht/</a
    >
  </li>
  <li>
    GitHub (Old):
    <a target="_blank" href="https://github.com/benjamin-ahlbrecht"
      >https://github.com/benjamin-ahlbrecht</a
    >
  </li>
</ul>
{% endblock content %}
